
<!-- Book Form Modal -->
<form id="newBookForm" role="form" ng-submit="addBook()">
    <div class="modal fade" id="newBookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Fill Book Details</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="bookName">Name</label>
                        <input type="text" class="form-control" id="bookName" name="name" ng-model="newBook.name" placeholder="Name" required>
                    </div>

                    <div class="form-group">
                        <label for="bookAuthor">Author address</label>
                        <input type="text" class="form-control" id="bookAuthor" name="author" ng-model="newBook.author" placeholder="Author" required>
                    </div>

                    <div class="form-group">
                        <label for="bookYear">Year</label>
                        <input type="number" class="form-control" id="bookYear"  name="year" ng-model="newBook.year" placeholder="Year" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                    <input type="submit" ng-disabled="newBookForm.$invalid" class="btn btn-warning" id="submit" value="Add New" />
                </div>
            </div>
        </div>
    </div>
</form>