@import accounts.model.Account
@(account: Account)
<table class="table table-hover">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="book in ctrl.books | filter: searchBook">
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.year}}</td>
        <td>
            <i title="Edit" data-toggle="modal" data-target="#editBookModal" class="glyphicon glyphicon-edit cursorPointer edit-button" ng-click="ctrl.editBook(book)">
            </i>
        </td>
        <td>
            <i title="Delete" class="glyphicon glyphicon-trash cursorPointer delete-button" ng-confirm-message="Are you sure want to delete?" ng-confirm-click="ctrl.deleteBook(book.title)">
            </i>
        </td>
        <td>
            <i title="Google Search" class="glyphicon glyphicon-book cursorPointer google-button" ng-click="ctrl.infoSearch(book)">
            </i>
        </td>
    </tr>
    </tbody>
</table>

<p>Showing <strong>{{ (ctrl.books | filter: searchBook).length }}</strong> of <strong>{{ ctrl.books.length }}</strong> entries</p>
